<?xml version="1.0" encoding="UTF-8"?>  
<configuration status="OFF" monitorInterval="3600">  

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">  
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>  
		</Console>

	</appenders>  
	<loggers>
		<!-- 只要是info以下的级别都输入到 Console -->
		<root level="info">
			<appender-ref ref="Console"/>
		</root>

	</loggers>  
</configuration>